1 VERSIONINFO
FILEVERSION 5,21,0,0
PRODUCTVERSION 5,21,0,0
FILEOS 0x40004
FILETYPE 0x1
{
  BLOCK "StringFileInfo"
  {
    BLOCK "040904B0"
    {
      VALUE "CompanyName", "Wubigork"
      VALUE "FileDescription", "wubigork AI Assistant"
      VALUE "FileVersion", "5.21.0"
      VALUE "InternalName", "wubigork"
      VALUE "LegalCopyright", "Wubigork"
      VALUE "OriginalFilename", "wubigork.exe"
      VALUE "ProductName", "wubigork"
      VALUE "ProductVersion", "5.21.0"
    }
  }
  BLOCK "VarFileInfo"
  {
    VALUE "Translation", 0x0409, 0x04B0
  }
}
